.card{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 350px;
    margin: 13px 10px;
    padding: 10px;
    background: #2d3748;
    position: relative;
    border-radius: 8px;
}

.card_badge{
    position: absolute;
    top: 0;
    right: 0;
    width: 40px;
    height: 40px;
    background-color: rgb( 227, 112, 30);
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translate(20px, -20px) scale(1);
    transition: all 0.3s ease;
    animation: scaleanimation 1s ease infinite;
    opacity: 0.8;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
}

.card_badge_hidden{
    display: none;
}

@keyframes scaleanimation{
    to{
        transform: translate(20px, -20px) scale(1);
        opacity: 1;
    }
}

.img_container{
    width: 100%;
    object-fit: cover;
}

.card_body{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card_title{
    font-weight: 400;
}

.card_price{
    font-size: 24px;
    font-weight: bold;
}

.hr{
    width: 100%;
    height: 1px;
    background-color: rgb(128, 128, 128, 0.656);
    margin-bottom: 10px;
}

.btn_container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 12px;
}